.calculator{
    margin: 0 auto;
    display: block;
    padding: 20px;
    background-color: #3F3F3F;
    width: 320px;
    height: 500px;
    border-radius: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.calculator td button{
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 7px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#resultado{
    display:block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    width: 320px;
    height: 60px;
    line-height: 60px;
    background-color: #ffff;
    border-radius: 5px;
}

#historial{
    display:block;
    text-align: right;
    font-size: 20px;
    margin-bottom: 0;
    width: 320px;
    height: 30px;
    line-height: 40px;
    background-color: #ffff;
    border-radius: 5px;
    color: #b9b8b5;
}

button:hover{
    background-color: #ffffff;
}