.calculator{
    margin: 0 auto;
    display: block;
    padding: 20px;
    background-color: #3F3F3F;
    width: 320px;
    height: 500px;
    border-radius: 25px;
}

.calculator td button{
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 7px;
    font-size: 25px;
}